<!DOCTYPE html>
<html>
  <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <% include partials/navbartwo %>

<<<<<<< HEAD
    <a href="/newitem" class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>Back to Dashboard</a>

=======
    <% include partials/navbartwo %>

    <!-- <div class="spacingdiv">
    </div> -->
>>>>>>> master

    <div class = "container addform">
      <div class = "row">
        <div class="form-group">
<<<<<<< HEAD
          <label>Post New Item</label>
=======
          <label>Add Item</label>
>>>>>>> master
          <form class="" action="/newitem/additem" method="post" enctype="multipart/form-data">
            <input class = "form-control" type="text" name="name" placeholder="item name">
            <input class = "form-control" type="text" name="description" placeholder="description">
            <label>Category:</label>
            <select class="form-control" type= "text" name="category">
              <option>Power Tools</option>
              <option>Pneumatic Tools</option>
              <option>Machine Tools</option>
            </select>
            <!-- <input class = "form-control" type="text" name="category" placeholder="category"> -->
            <label>Condition:</label>
            <select class="form-control" type= "text" name="condition">
              <option>Excellent</option>
              <option>Good</option>
              <option>Fair</option>
              <<option>Poor</option>
            </select>
            <input class = "form-control" type="file" name="image" value="test">
            <button class = "form-control btn-danger" type="submit">Post Item</button>
          </form>
        </div>
  </div>
</div>


<!-- attempt at doing a map -->
<center>
  <h3>Location</h3>
  <h2>this is where map would go</h2>
</center>
<div id="map">
  <script>
    function initMap() {
    var mission = {lat: 26.215, lng: -98.325};
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: mission
    });
    var marker = new google.maps.Marker({
    position: mission,
    map: map
    });
    }
  </script>
  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBagv-43cAtG0CGsWpT7oBQbcSZbbfDxjA&amp;callback=initMap"></script>
</div>
<!-- end attempt at map -->


<% include partials/footertwo %>

</body>
</html>
